###############################################################################
# document.cnf                                         Version : 1.1.2.1      #
#                                                                             #
# Creation Date : 18/05/2007                                                  #
# Team          : Only me after all                                           #
# Support mail  : arnaud@crampet.net                                          #
# Author        : Arnaud Crampet                                              #
#                                                                             #
# Subject : This conf file provide all base parameters for auto documentation #
#                                                                             #
###############################################################################
####
# INFO

Base_Catalog_function="${Base_Dir_Scripts_Data_Catalogs}/function.cat"                  # Is_A_Catalog_FLAG
Base_Catalog_function_depend="${Base_Dir_Scripts_Data_Catalogs}/function_deps.cat"      # Is_A_Catalog_FLAG
Base_Catalog_function_docs="${Base_Dir_Scripts_Data_Catalogs}/function_docs.cat"        # Is_A_Catalog_FLAG
Base_Catalog_function_TMP_dep="${Base_Dir_Scripts_Data_Catalogs}/function_tmp_dep.cat"  # Is_A_Catalog_FLAG
Base_Catalog_function_Final="${Base_Dir_Scripts_Data_Catalogs}/Final_function_deps.cat" # Is_A_Catalog_FLAG
TOPrintFormat="XML"
CNF_SRC="1"

Package_Configuration="OK"
Sourced_OK="1"